* {
  margin: 0;
  padding: 0;
}
body {
  background: #f2f2f2;
}
ul {
  list-style: none;
}
.navigation {
  z-index: 100;
  width: 100%;
  height: 68px;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  border-bottom: 1px solid #ededed;
  box-shadow: 0 0.1px 10px -4px #999999;
}
.wrap {
  z-index: 100;
  width: 1140px;
  margin: 0 auto;
}
.navigation li {
  z-index: 100;
  display: block;
}
.ul-bar-left li {
  float: left;
  display: block;
  padding: 0 30px;
}
.navigation .ul-bar-left li:hover {
  background-color: rgb(230, 214, 198);
}
.navigation .ul-bar-right li {
  float: right;
  padding: 0 7px;
}
.img2 {
  margin-top: 23px;
  margin-right: -13px;
}
.img3 {
  margin-right: 105px;
  margin-top: 22px;
}
.a0 {
  font-weight: bold;
  margin-right: -7px;
}
.navigation .word {
  text-decoration: none;
  color: #000000;
  display: block;
  font-size: 14px;
  line-height: 68px;
}
.navigation .img2,
.img3 {
  vertical-align: middle;
  text-align: center;
}
.wrap2 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 68px;
  background-color: white;
  display: none;
}
.wrap2 > ul > li > a {
  text-decoration: none;
  color: rgb(31, 31, 31);
  font-size: 14px;
  line-height: 38px;
}
.wrap2 > ul > li > a:hover {
  color: rgb(227, 190, 150);
}
.wrap2 > ul {
  float: left;
  margin: 40px 0 0 305px;
}
.wrap2 .wA1 {
  margin-left: 137px;
}
.wrap2 > div {
  float: left;
  width: 248px;
  height: 339px;
  margin: 0 auto;
  text-align: center;
}
.w2I {
  width: 200px;
  height: 200px;
  padding: 24px;
  display: block;
}
.w2I img {
  width: 200px;
  height: 200px;
}
.w2P1 {
  display: block;
  width: 198px;
  height: 30px;
  padding: 0 25px;
  text-decoration: none;
  color: rgb(51, 51, 51);
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  margin-top: 10px;
}
.w2P2 {
  width: 223px;
  height: 44px;
  padding-left: 25px;
  margin-top: 5px;
  font-size: 14px;
  color: red;
}
